<div class="body">
  <div class="sections">
    <h1>Predstavenie monopostov</h1>
    <hr>
    <div class="teams">
      <!-- teams container-->
      <ng-container *ngFor="let team of teams">
        <div *ngIf="team.confirmed" class="team2">
          <div class="team"> <!--(click)="openUrlInNewTab(team.link)"-->
            <div class="teamL">
              <p class="date" [ngStyle]="{'color': team.colorFont}">{{team.date}} <br> FEB</p>
            </div>
            <div class="teamR" [ngStyle]="{'background-color': team.colorRight}">
                <img [src]="team.img" class="logo"/>
            </div>
          </div>
          <div class="countdown"> {{team.countdown}}</div>
        </div>
      </ng-container>
    </div>
  </div>




  <div class="sections">
    <h1>Predsezónne testy</h1>
    <hr>
    <div>
        <!-- teams container-->
    </div>
  </div>
</div>
